.container.d-flex.flex-row.justify-content-center
  %h1.font-weight-bold.text-warning.mr-3 Edit
  %h1.font-weight-bold.text-dark.mb-4 #{resource_name.to_s.humanize}
.content.mx-auto
  .content.jumbotron.jumbotron-fluid.w-50.bg-light.mx-auto.pt-4
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :first_name, class: 'text-muted'
        %br/
        = f.input_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control input-prop'
      .field
        = f.label :last_name, class: 'text-muted mt-2'
        %br/
        = f.input_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control input-prop'
      .field
        = f.label :email, class: 'text-muted mt-2'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-prop'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :phone, class: 'text-muted mt-2'
        %br/
        = f.input_field :phone, autofocus: true, autocomplete: "phone", class: 'form-control input-prop'
      .field
        = f.label :password, class: 'text-muted mt-2'
        %i.text-muted (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'form-control input-prop'
        - if @minimum_password_length
          %br/
          %em.text-muted
            = @minimum_password_length
            characters minimum
      .field
        = f.label :password_confirmation, class: 'text-muted'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control input-prop'
      .field
        = f.label :current_password, class: 'text-muted mt-2'
        %i.text-muted (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "current-password", class: 'form-control input-prop'
      .actions.text-center
        = f.submit "Update", class: 'btn btn-warning pl-5 pr-5 m-4'
    .container.d-flex.flex-row.justify-content-center.pt-5
      %h3.font-weight-bold.text-warning.mr-3 Cancel
      %h3.font-weight-bold.text-dark.mb-4 #{resource_name.to_s.humanize}
    .container.d-flex.flex-row.justify-content-center
      %p.text-muted.mt-2
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger ml-4'}
    = link_to "Back", :back
