.container.d-flex.flex-row.justify-content-center.bg-light
  %h1.font-weight-bold.text-warning.mr-3 Sign
  %h1.font-weight-bold.text-dark.mb-4 Up
.content.mx-auto
  .content.jumbotron.jumbotron-fluid.w-25.bg-light.mx-auto.pt-4
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = render 'devise/shared/error_messages', resource: resource
      .field
        = f.label :first_name, class: 'text-muted'
        %br/
        = f.input_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control input-prop'
      .field
        = f.label :last_name, class: 'text-muted mt-2'
        %br/
        = f.input_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control input-prop'
      .field
        = f.label :email, class: 'text-muted mt-2'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-prop'
      .field
        = f.label :phone, class: 'text-muted mt-2'
        %br/
        = f.input_field :phone, autofocus: true, autocomplete: "phone", class: 'form-control input-prop'
      .field
        = f.label :password, class: 'text-muted mt-2'
        - if @minimum_password_length
          %em.text-muted
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'form-control input-prop'
      .field
        = f.label :password_confirmation, class: 'text-muted mt-2'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control input-prop'
      .field#user_type
        = f.label :type, class: 'text-muted mt-2'
        = f.input_field :type, as: :radio_buttons, collection: [['Passenger', 'Passenger'], ['Driver', 'Driver']],
                        checked: 'Passenger', label_method: :second, value_method: :first,
                        class: 'form-check form-check-inline mt-4 mr-2 ml-4'
        .driver_params#driver_params.d-none
          .field.m-2.row
            = f.label :tariff, class: 'text-muted'
            %br/
            = collection_select(:user, :tariff_id, Tariff.all, :id, :name, {include_blank: false}, {class: "form-control mw-100 pr-pl-5"})
      .actions.text-center
        = f.submit "Sign up", class: 'btn btn-warning pl-5 pr-5 m-4'
        %br/
        = render "devise/shared/links"
