
.container-fluid.bg-light.p-3
  %br/
  .row.w-100.text-center.s-3
    %h2.text-center
      %b.text-warning
        Welcome
      %b.text-dark
        email
  %br/
  %container.w-100.pl-5
    %p.lead.pl-4
      Dear #{ @user.first_name } #{@user.last_name }, welcome to Ultimate Taxi!
    %p.lead.text-dark
      You have successfully signed up to Ultimate Taxi application, your username is:
      %b.text-dark
        #{ @user.email }.
    %p.lead
      To visit WEB site, just follow this link:
    %br/
    = link_to('Ultimate Taxi', home_url,
              class: 'lead text-dark p-3')
    %br/
    %p.lead.text-center.pt-5
      Thanks for joining and have a great day!
    %br/
