Dear #{ @user.first_name } #{@user.last_name }, welcome to Ultimate Taxi!
==============================================================================
You have successfully signed up to Ultimate Taxi application,
your username is: #{ @user.email }.

To visit WEB site, just follow this link:
= link_to('Ultimate Taxi', home_url)

Thanks for joining and have a great day!
