%table.table-borderless.mx-auto.px-3
  .row.w-100
    %h3.text-warning.pl-3
      = feedback.passenger.first_name
    %h3.text-dark.ml-2
      = feedback.passenger.last_name
  %hr
  %tr
    %td.w-25
      %p.lead.font-weight-bold
        Driver:
    %td.w-50
      %p.lead
        = feedback.driver.first_name
        = feedback.driver.last_name
        &nbsp;
    %td.w-50.ml-auto.pr-2
      %p.lead.ml-auto.pr-2
        #{'⭐' * feedback.rating}
        &nbsp;
  %tr
    %td.w-25
      %p.lead.font-weight-bold
        Feedback:
    %td.w-50
      %p.lead
        = feedback.text
        &nbsp;
    %td.w-25
      %p.lead
        &nbsp;
%p.text-right.text-muted.ml-auto.pr-4.mt-2
  = feedback.created_at.strftime("%d of %B, %Y %I:%M")
