= simple_form_for [:passengers, order, order.feedbacks.build] do |f|
  = f.error_notification
  .container.d-flex.flex-row.justify-content-center.mt-2
    %h2.font-weight-bold.text-warning.mr-3 Please add
    %h2.font-weight-bold.text-dark.mb-4 your feedback
  .container.w-75.justify-content-center
    .field
      = f.label :rating, class: 'text-muted'
      = f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_class: 'inline float-right', boolean_style: :inline do |b|
        = b.radio_button + b.label {'&nbsp ⭐ &nbsp'}
    .field
      = f.label :text, class: 'text-muted mt-2'
      %br/
      = f.input_field :text, as: :text, autocomplete: "text", class: 'feedbackTextField form-control input-prop', id: 'text'
      = f.hidden_field :passenger_id, value: current_user.id
      = f.hidden_field :driver_id, value: order.driver_id

    .actions.text-center
      = f.submit 'Create feedback', class: 'btn btn-warning px-5 mt-4'
