.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center
    %h1.font-weight-bold.text-warning.mr-3 We Are
    %h1.font-weight-bold.text-dark.mb-4 Ultimate Taxi
