.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center
    %h1.font-weight-bold.text-warning.mr-3 Ultimate
    %h1.font-weight-bold.text-dark.mb-4 Taxi App
  %p.text-center.w-100
    = image_tag  "Taxi-Header.jpg", class: "w-100 shadow-lg bg-white rounded"
