.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center
    %h1.font-weight-bold.text-warning.mr-3 Taxi
    %h1.font-weight-bold.text-dark.mb-4 tariffs
  - Tariff.all.each_with_index do |tariff, index|
    - if index.odd?
      .container.w-100.shadow.mb-4.bg-light.rounded.py-4.my-4
        .row.my-3
          .col-sm-4.p-3
            = image_tag  "#{tariff.name}Tariff.png", class: "tariff_img w-100 my-3 pl-4"
          .col-sm-8.p-3
            .container.d-flex.flex-row.justify-content-center
              %h3.font-weight-bold.text-warning.mr-3
                = tariff.name
              %h3.font-weight-bold.text-dark.mb-4 Tariff
            %p.lead.text-center
              With this tariff you need to pay
              %b
                = tariff.cost
              ₴ (UAH) per one kilometer.
      %br
    - else
      .container.w-100.shadow.mb-4.bg-light.rounded.py-4.my-4
        .row.my-3
          .col-sm-8.p-3
            .container.d-flex.flex-row.justify-content-center
              %h3.font-weight-bold.text-warning.mr-3
                = tariff.name
              %h3.font-weight-bold.text-dark.mb-4 Tariff
            %p.lead.text-center
              With this tariff you need to pay
              = tariff.cost
              ₴ (UAH) per one kilometer.
          .col-sm-4.p-3
            = image_tag  "#{tariff.name}Tariff.png", class: "tariff_img w-100 my-3 pr-4"
      %br
