.container.d-flex.flex-row.justify-content-center.bg-light
  %h1.font-weight-bold.text-warning.mr-3 Log
  %h1.font-weight-bold.text-dark.mb-4 In
.content.mx-auto
  .content.jumbotron.jumbotron-fluid.w-25.bg-light.mx-auto.pt-4
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      .field
        = f.label :email, class: 'text-muted'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control input-prop'
      .field
        = f.label :password, class: 'text-muted mt-2'
        %br/
        = f.password_field :password, autocomplete: 'current-password', class: 'form-control input-prop'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me, class: 'input-prop mt-4'
          = f.label :remember_me, class: 'text-muted'
      .actions.text-center
        = f.submit 'Log in', class: 'btn btn-warning pl-5 pr-5'
        %br/
        %br/
        = render 'devise/shared/links'
