Your order is finished
===================================================
Dear #{ @order.passenger.first_name } #{@order.passenger.last_name }, your order
is seccessfuly finished.

Your driver: #{ @order.driver.first_name } #{@order.driver.last_name };
Your tariff: #{ @order.tariff };

From: #{ @order.starting_address };
to: #{ @order.destination_address };
___________________________________________________
Total price:     #{ @order.price } UAH

If you want to receive your receipt, click this link:
= link_to('Show receipt', passengers_order_url(@order, format: :pdf))

Thanks for your choose and have a nice day!
