.container-fluid.bg-light.p-3
  %br/
  .row.w-100.text-center.s-3
    %h2.text-center
      %b.text-warning
        Your order
      %b.text-dark
        is finished
  %br/
  %container.w-100.pl-5
    %p.lead.text-dark.text-center
      Dear #{ @order.passenger.first_name } #{@order.passenger.last_name }, your
      order is seccessfuly finished.
    %br
    %p.lead.text-dark.text-center
      Your driver: #{ @order.driver.first_name } #{@order.driver.last_name };
    %p.lead.text-dark.text-center
      Your tariff: #{ @order.tariff_name };
    %br
    %p.lead.text-dark.text-center
      From: #{ @order.starting_address };
    %p.lead.text-dark.text-center
      to: #{ @order.destination_address };
    %br
    %hr.w-25.text-center
    %h5.lead.text-dark.text-center
      %b
        Total price: #{ @order.price } UAH
    %br
    %p.lead.text-dark.text-center
      If you want to receive your receipt, click this link:
    %p.lead.text-center.text-dark
      = link_to('Show receipt', passengers_order_url(@order, format: :pdf))
    %br/
    %br/
    %p.lead.text-center.pt-5
      Thanks for your choose and have a nice day!
    %br/
