.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center
    %h2.font-weight-bold.text-warning.mr-3 Create
    %h2.font-weight-bold.text-dark.mb-5 Order
  .row.w-100
    .content.jumbotron.jumbotron-fluid.w-25.mx-auto.shadow.bg-light.rounded.px-5
      = simple_form_for [:passengers, @order], data: { controller: 'orders' } do |o|
        = o.error_notification
        .field
          = o.label :starting_address, class: 'text-muted'
          %br/
          = o.input_field :starting_address, autocomplete: "starting_address", class: 'form-control input-prop', id: 'starting_address'
        .field
          = o.label :destination_address, class: 'text-muted mt-2'
          %br/
          = o.input_field :destination_address, autocomplete: "destination_address", class: 'form-control input-prop', id: 'destination_address'
        .field.m-0.row
          = o.label :tariff, class: 'text-muted'
          %br/
          = collection_select(:order, :tariff_id, Tariff.all, :id, :name, {include_blank: false}, {class: "form-control mw-100 px-2"})
        .field
          = o.label :price, class: 'text-muted mt-2'
          %br/
          = o.input_field :price, class: 'form-control input-prop', id: 'price'
        .actions.text-center
          = o.submit 'Create order', class: 'btn btn-warning px-5 mt-4'
    .content.jumbotron.jumbotron-fluid.w-50.p-0.bg-light.mx-auto
      %p#map.bg-light.shadow.bg-white.rounded
        %script{ async: "", src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY']}&region=UK&language=uk&callback=initMap&libraries=&v=weekly" }