%h1 ULTIMATE TAXI
%h2 ########## Receipt № #{ @order.id } ##########
%br/
%p
  %b
    Date:
  #{ @order.updated_at }
%br/
%p
  %b
    Passenger first name:
  #{ @order.passenger.first_name }
%p
  %b
    Passenger last name:
  #{ @order.passenger.last_name }
%br/
%p
  %b
    Driver first name:
  #{ @order.driver.first_name }
%p
  %b
    Driver last name:
  #{ @order.driver.last_name }
%br/
%p
  %b
    Tariff name:
  #{ @order.tariff_name }
%p
  %b
    Tariff cost:
  #{ @order.tariff_cost } UAH/km
%br/
%p
  %b
    Starting address:
  #{ @order.starting_address }
%p
  %b
    Destination address:
  #{ @order.destination_address }
%br/
%hr/
%h2
  Price: #{ @order.price } UAH
