.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center.pb-4
    %h2.font-weight-bold.text-warning.mr-3 List of your
    %h2.font-weight-bold.text-dark.mb-4 all orders
  .row.w-75.mx-auto
    %table.table.mx-auto
      - @orders.each do |order|
        %tr
          %td
            %h4.font-weight-bold.text-warning
              Name:
          %td.lead
            = order.passenger.first_name
          %td
            %h4.font-weight-bold.text-warning
              From:
          %td.lead
            = order.starting_address
          %td.text-center
            .div.row.pl-3
              %h4.font-weight-bold.text-warning
                Price:
              %h4.font-weight-bold.pl-5
                = order.price
                UAH.
        %tr.table-borderless
          %td
            %h4.font-weight-bold.text-warning.mb-4
              Surname:
          %td.lead
            = order.passenger.last_name
          %td
            %h4.font-weight-bold.text-warning.mb-4
              To:
          %td.lead
            = order.destination_address
          %td.text-center
            = link_to "Show order", drivers_order_path(order),
              class: 'btn-lg btn-dark text-warning font-weight-bold nounderline mb-4'
