.content.jumbotron.jumbotron-fluid.bg-light.pt-1
  .container.d-flex.flex-row.justify-content-center.mb-3
    %h2.font-weight-bold.text-warning.mr-3 Your
    %h2.font-weight-bold.text-dark.mb-4 Order
  .row.w-100
    .div.col-sm-5.mx-auto.shadow.mb-4.bg-light.rounded.py-4
      %table.table-borderless.mx-auto.px-3
        %tr
          %td
            %p.lead.font-weight-bold
              Passenger:
          %td
            %p.lead
              = @order.passenger.first_name
              = @order.passenger.last_name
              &nbsp;
        %tr
          %td
            %p.lead.font-weight-bold
              Orders status:
          %td
            %p.lead
              = get_human_readable_state(@order.state)
              &nbsp;
        %tr
          %td
            %p.lead.font-weight-bold
              Starting address:
          %td
            %p.lead
              = Geocoder.address(@order.starting_address)
              &nbsp;
        %tr
          %td
            %p.lead.font-weight-bold
              Destination address:
          %td
            %p.lead
              = Geocoder.address(@order.destination_address)
              &nbsp;
        %tr
          %td
            %p.lead.font-weight-bold
              Tariff:
          %td
            %p.lead
              = @order.tariff.cost
              UAH / km.
        %tr
          %td
            %p.lead.font-weight-bold
              Price:
          %td
            %p.lead.font-weight-bold
              = @order.price
              UAH.
        %tr
          %td
            %p.lead.font-weight-bold
              Driver:
          %td
            - if @order.driver_id?
              %p.lead
                = @order.driver.first_name
                = @order.driver.last_name
            - else
              %p.lead
                &nbsp;
    .div.col-sm-5.mx-auto.px-4
      .container.d-flex.bg-light.w-100.h-100.justify-content-center
        = image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=12&size=450x200&scale=2&markers=size:mid%7Ccolor:red%7Clabel:A%7C#{@order.starting_address[1..-2]}&markers=size:mid%7Ccolor:red%7Clabel:B%7C#{@order.destination_address[1..-2]}&path=color:0xff0000ff|weight:2|#{@order.starting_address[1..-2]}|#{@order.destination_address[1..-2]}&key=#{ENV['GOOGLE_MAP_API_KEY']}",
                    alt: "Map", class: "shadow mb-4 bg-white rounded"
    .container.text-center.mt-5
      - unless @order.state == Order::FINISHED_STATE
        - if @order.state == Order::CREATED_STATE
          = link_to "Accept order", change_order_status_drivers_order_path(@order),
            class: 'btn-lg btn-warning text-dark font-weight-bold nounderline mb-4'
        - elsif @order.state == Order::ACCEPTED_STATE
          = link_to "Wait passenger", change_order_status_drivers_order_path(@order),
            class: 'btn-lg btn-warning text-dark font-weight-bold nounderline mb-4'
        - elsif @order.state == Order::WAITING_PASSENGER_STATE
          = link_to "Move", change_order_status_drivers_order_path(@order),
            class: 'btn-lg btn-warning text-dark font-weight-bold nounderline mb-4'
        - else @order.state == Order::MOVING_STATE
          = link_to "Finish order", change_order_status_drivers_order_path(@order),
            class: 'btn-lg btn-warning text-dark font-weight-bold nounderline mb-4'

    - if @order.finished?
      .content.jumbotron.jumbotron-fluid.w-75.mx-auto.shadow.bg-light.rounded.px-5.pt-2.mt-5
        .container.d-flex.flex-row.justify-content-center
          %h2.font-weight-bold.text-warning.mr-3.mt-4 Your
          %h2.font-weight-bold.text-dark.mb-5.mt-4 Feedback
        = render @order.feedbacks
        = render '/drivers/feedbacks/new', order: @order
