<nav class="navigation" role="navigation">
  <%= link_to('Log out', destroy_user_session_path, method: :delete, class: "button button--alt") if defined?(home_url) %>
  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
  <% end %>
  <%= link_to('Drivers statistic', statistic_admins_drivers_path, class: "navigation__link")%>
</nav>
