%table
  %tr
    %th ID
    %th Driver
    %th Price per this month
    %th Price per last month
    %th Total price
    %th Salary per this month
    %th Salary per last month
    %th Total Salary
    %th Fee per this month
    %th Fee per last month
    %th Total price fee
  - @drivers.each do |d|
    %tr
      %td
        = d.id
      %td
        #{d.first_name} #{d.last_name}
      %td
        = @drivers_data[:price_per_this_month][d.id]  || 0
      %td
        = @drivers_data[:price_per_last_month][d.id]  || 0
      %td
        = @drivers_data[:total_price][d.id]           || 0
      %td
        = @drivers_data[:salary_per_this_month][d.id] || 0
      %td
        = @drivers_data[:salary_per_last_month][d.id] || 0
      %td
        = @drivers_data[:total_price_salary][d.id]    || 0
      %td
        = @drivers_data[:fee_per_this_month][d.id]    || 0
      %td
        = @drivers_data[:fee_per_last_month][d.id]    || 0
      %td
        = @drivers_data[:total_prices_fee][d.id]      || 0
