%nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow.mb-4.bg-white.rounded
  .container-fluid
    %a.font-weight-bold.d-flex.flex-row.d-flex.align-items-center.navbar-brand{href: home_path}
      %h3.text-warning Ultimate
      %h3.text-dark TAXI
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        -# %li.nav-item
        -#   = link_to 'About us', about_path, class: 'nav-link active'
        %li.nav-item
          = link_to 'Tariffs', tariff_path, class: 'nav-link active'
        -# %li.nav-item
        -#   %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Disabled
        - if current_user.passenger?
          %li.nav-item
            = link_to 'Orders', passengers_orders_path, class: 'nav-link active'
          %li.nav-item
            = link_to 'New order', new_passengers_order_path, class: 'nav-link'
    %form.d-flex.flex-row.justify-content-end
      = link_to "#{current_user.type}", "", class: 'btn btn-outline-block text-muted mr-2'
      = link_to 'Profile', edit_user_registration_path, class: 'btn btn-outline-warning mr-2'
      = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark'
